<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXTwEFHij7iAfaZWj8WmEcXot3pRZi9S8</string>
	<key>GCM_SENDER_ID</key>
	<string>244239574152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navigationAssignment</string>
	<key>PROJECT_ID</key>
	<string>projectauth-2bef4</string>
	<key>STORAGE_BUCKET</key>
	<string>projectauth-2bef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244239574152:ios:0f28a41b055da4d7cbeb3d</string>
</dict>
</plist>